# Local Terraform directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Plan files
*.plan
*.tfplan
*.tfplan.json

# Variable definitions (often contain secrets)
*.tfvars
*.tfvars.json

# Environment files (secrets)
.env*
